# Misc
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.idea/
.vscode/
.packages

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
*.g.dart
pubspec.lock

# Android related
android/.gradle/
android/captures/
android/gradle/
android/app/build/
*.jks
*.keystore
*.hprof

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/.symlinks/
ios/Flutter/Generated.xcconfig*
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/
xcuserdata/

# Web related
web/.dart_tool/

# Windows related
windows/.dart_tool/
windows/runner/Debug/
windows/runner/Release/
windows/build/

# macOS related
macos/Flutter/ephemeral/
macos/.dart_tool/

# Linux related
linux/.dart_tool/

# Coverage
coverage/
